@page "/"
@using BowlingCoacher.Shared.Classes
@using BowlingCoacher.Shared.Services
@inject IFormFactor FormFactor

<PageTitle>FrameFocus</PageTitle>

<div style="width: 100%; display:inline-flex;">
    <div style="width: 20%; padding: 10px;">
        <EditForm Model="homePageManager" OnValidSubmit="homePageManager.SubmitScoreForm">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div>
                <label>Score</label><br />
                <InputNumber @bind-Value="homePageManager.Statistics.Score" />
            </div><br />

            <div>
                <label>Number of Games</label><br />
                <InputNumber @bind-Value="homePageManager.Statistics.Games" />
            </div><br />

            <div>
                <label> Number of Strikes </label><br />
                <InputNumber @bind-Value="homePageManager.Statistics.Strikes" />
            </div><br />

            <div>
                <label> Number of Spares </label><br />
                <InputNumber @bind-Value="homePageManager.Statistics.Spares" />
            </div><br />

            <div>
                <label> Number of Open Frames </label><br />
                <InputNumber @bind-Value="homePageManager.Statistics.Opens" />
            </div><br />

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>

    <div style="width: 80%; height: fit-content;">
        <div style="display: flex;">
            <div class="statisticsCard">
                <h4> Current Average </h4>
                <h5 style="margin-top: 2.5rem;"> @homePageManager.Statistics.Average </h5>
            </div>

            <div class="statisticsCard">
                <h4> Strike Percentage </h4>
                <h5 style="margin-top: 2.5rem;"> @homePageManager.Statistics.StrikePercentage</h5>
            </div>

            <div class="statisticsCard">
                <h4> Spare Percentage </h4>
                <h5 style="margin-top: 2.5rem;"> @homePageManager.Statistics.SparePercentage</h5>
            </div>

            <div class="statisticsCard">
                <h4> Open Frame Percentage </h4>
                <h5 style="margin-top: 2.5rem;"> @homePageManager.Statistics.OpenPercentage</h5>
            </div>
        </div>
        
        <div style="display: flex;">
            <div class="statisticsCard">
                <h4> Highest Game </h4>
            </div>

            <div class="statisticsCard">
                <h4> Highest Series </h4>
            </div>

            <div class="statisticsCard">
                <h4> Highest Average </h4>
            </div>

            <div class="statisticsCard">
                <h4> Missed Single Pins </h4>
            </div>
        </div>
    </div>
</div>

<div class="statusPanel">
    <p> @homePageManager.Statistics.UserFeedback </p>
</div>

@code {
	private HomePageManager homePageManager = new HomePageManager();
}