@page "/"
@using BowlingCoacher.Shared.Classes
@using BowlingCoacher.Shared.Services
@inject IFormFactor FormFactor

<PageTitle>FrameFocus</PageTitle>

<div style="width: 100%; display:inline-flex;">
    <div style="width: 20%; padding: 10px;">
        <EditForm Model="homePageManager" OnValidSubmit="homePageManager.SubmitScoreFormAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div>
                <label>Score</label><br />
                <InputNumber @bind-Value="homePageManager.Statistics.Score" />
            </div><br />

            <div>
                <label>Number of Games</label><br />
                <InputNumber @bind-Value="homePageManager.Statistics.Games" />
            </div><br />

            <div>
                <label> Number of Strikes </label><br />
                <InputNumber @bind-Value="homePageManager.Statistics.Strikes" />
            </div><br />

            <div>
                <label> Number of Spares </label><br />
                <InputNumber @bind-Value="homePageManager.Statistics.Spares" />
            </div><br />

            <div>
                <label> Number of Open Frames </label><br />
                <InputNumber @bind-Value="homePageManager.Statistics.Opens" />
            </div><br />

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>

    <div style="width: 80%; height: fit-content;">
        <h3> Overall  </h3>
        <div style="display: flex;">
            <div class="statisticsCard">
                <h4> Average </h4>
                <h5 style="margin-top: 4.25rem;"> @homePageManager.CombinedStatistics.Average </h5>
            </div>

            <div class="statisticsCard">
                <h4> Strike Percentage </h4>
                <h5 style="margin-top: 2.5rem;"> @homePageManager.CombinedStatistics.StrikePercentage</h5>
            </div>

            <div class="statisticsCard">
                <h4> Spare Percentage </h4>
                <h5 style="margin-top: 2.5rem;"> @homePageManager.CombinedStatistics.SparePercentage</h5>
            </div>

            <div class="statisticsCard">
                <h4> Open Frame Percentage </h4>
                <h5 style="margin-top: 2.5rem;"> @homePageManager.CombinedStatistics.OpenPercentage</h5>
            </div>
        </div>

        <h3> Last Session </h3>
        <div style="display:flex">
            <div class="statisticsCard">
                <h4> Average </h4>
                <h5 style="margin-top: 4.25rem"> @homePageManager.RecentStatistics.Average </h5>
            </div>

            <div class="statisticsCard">
                <h4>  Strike Percentage </h4>
                <h5 style="margin-top: 2.5rem;"> @homePageManager.RecentStatistics.StrikePercentage</h5>
            </div>

            <div class="statisticsCard">
                <h4> Spare Percentage </h4>
                <h5 style="margin-top: 2.5rem;"> @homePageManager.RecentStatistics.SparePercentage</h5>
            </div>

            <div class="statisticsCard">
                <h4> Open Frame Percentage </h4>
                <h5 style="margin-top: 2.5rem;"> @homePageManager.RecentStatistics.OpenPercentage</h5>
            </div>
        </div>
    </div> 
</div>

@code {
	private HomePageManager homePageManager = new HomePageManager();
}